* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Isso deve ajudar a controlar as dimensões */
}

.app-container {
  background-image: url('../../public/midias/wyntech.jpeg');
  background-size: cover;
  background-position: center 2px;
  padding: 20px;
  color: #fff;
  min-height: 90vh;
  overflow: hidden; /* Evita scroll vertical */
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: #662626;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.tab-button:hover {
  background-color: rgba(240, 240, 240, 0.9);
  transform: scale(1.05);
}

.tab-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1; /* Permite que cresça */
  overflow: auto; /* Adiciona barra de rolagem se necessário */
}

.row {
  display: flex;
  justify-content: space-between;
}

.container {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  margin: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100%; /* Pode ser ajustado */
  overflow: hidden;
}

.chart-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

canvas {
  width: 100% !important;
  height: auto;
}

.updating-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  text-align: center;
  z-index: 1000;
  color: #333;
}

.hidden-button {
  display: none;
}

.marquee {
  background-color: black;
  color: #00ff00;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  align-items: center;
}

.marquee-text {
  display: inline-block;
  font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
  animation: marquee 15s linear infinite;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}

@keyframes marquee {
  from {
      transform: translateX(490%);
  }
  to {
      transform: translateX(-100%);
  }
}
