<meta http-equiv="refresh" content="14400" />

<div class="marquee">
  <div class="marquee-text">Atendimento e Backlog dos Chamados!</div>
</div>

<div class="app-container">
  <div class="tabs">
    <button class="tab-button" (click)="selectTab('telecom')">Contrato de Telecom</button>
    <button class="tab-button" (click)="selectTab('TFL')">Contrato de TFL</button>
  </div>

  <div *ngIf="isUpdating" class="updating-message">
    Atualizando informações...
  </div>

  <div class="tab-content" *ngIf="selectedTab === 'telecom'">
    <div class="row">
      <div class="container gray">
        <h3>CHAMADOS ABERTOS HOJE</h3>
        <app-graficosabertos></app-graficosabertos>
      </div>
      <div class="container red">
        <h3>CHAMADOS FECHADOS HOJE</h3>
        <app-graficosfechados></app-graficosfechados>
      </div>
    </div>
    <div class="row">
      <div class="container white">
        <h3>BACKLOG - TELECOM</h3>
        <div class="chart-container">
          <app-graficobacklog></app-graficobacklog>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-content" *ngIf="selectedTab === 'TFL'">
    <div class="row">
      <div class="container gray">
        <h3>Container 1 - TFL</h3>
      </div>
      <div class="container red">
        <h3>Container 2 - TFL</h3>
      </div>
    </div>
    <div class="row">
      <div class="container white">
        <h3>Container 3 - TFL</h3>
      </div>
    </div>
  </div>

  <!-- Botão oculto -->
  <button id="botaoOculto" style="display: none;" (click)="playSound()">Clique para Tocar Som</button>
</div>
